* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.615), rgba(0, 0, 0, 0.715));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time-container {
    margin: 20px;
    font-size: 40px;
}
#time{
    text-shadow: 0px 0px 15px red;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    height: 40px;
    width: 120px;
    margin: 10px;
    background: linear-gradient(45deg, red , black);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    
}